h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hind';
    font-weight: 600;
}

p {
    font-family: 'Open Sans'
}

.box {
    border-radius: 0px !important;
}

.is-myblue {
    
}
.vdatetime-input{
    width: 100%;
    margin-top: -1px;
    padding: 8px 40px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px #dbdbdb solid;
}

.autocomplete ul {
    z-index: 100;
}

